/* h2{text-align: center;  } */ 
table{
    border: 3px solid #016801;
    border-collapse: collapse;
    width: 500px;
    height: 80px;
}

td, th{
    border: 1px solid #016801;
    text-align: center;
}

