body{
    background-color: darkblue;
}

#container{
    width: 800px;
    height: 800px;
    margin: 2px auto;
    /* text-align: center; */
    border: 2px solid #222;
    background: #fff url('../images/mic.png') no-repeat right bottom ;
    /* background-position: right bottom , 사진 위치 */
}

h1{
    width: 700px;
    height: 40px;
    background: darkslategrey;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

h2{
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
}

h3{
    color: red;
    padding-left: 30px;
}

ul{
    list-style: none;
    line-height: 3;
}

ul li{
    color: black;
    margin-left: 35px;
}
